@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
header {
  font-size: 20px;
  padding: 10px 20px;
  border-bottom: 1px solid #000;
}

footer {
  font-size: 13px;
  padding: 20px 20px;
  font-weight: 700;
}

nav {
  display: flex;
  align-items: center;
}

#logo {
  color: lightgreen;
  background-color: rebeccapurple;
  font-weight: 700;
  padding: 5px 15px;
}
a {
  color: rebeccapurple;
  font-weight: 700;
  text-decoration: none;
}
ul {
  display: flex;
  list-style: none;
}
ul > li {
  margin-right: 30px;
}
.box {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #000;
}
aside {
  padding: 10px 20px;
  background-color: lavender;
}

section {
  background-color: lavender;
  padding: 5px 20px;
  margin-bottom: 20px;
}

article {
  padding-bottom: 20px;
}
h1,
h2,
h3 {
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-weight: 900;
}
